h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  color: $font-color-title;
}

p, a, li, span {
  font-family: $font-body;
  color: $font-color-body;
}

a:hover {
  text-decoration: none;
  color: $accent-light-2;
}