@import "themes.scss";

html {
  background-color: var(--c-main-1);
}

div {
  background-color: var(--c-main-1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  color: var(--c-main-1-font);
}

p, li, span {
  font-family: $font-body;
  color: var(--c-main-1-font);
}

hr {
  background-color: var(--c-accent-1);
}

/* Custom bootstrap TODO: dynamic color*/
$theme-colors: (
  "primary": $mandarin, 
  "secondary": $lemon-chiffon, 
);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

a, a:visited {
  text-decoration: none;
  color: var(--c-accent-3) !important;
}

a:hover {
  color: var(--c-accent-2) !important;
}

