.navbar-border {
    background-color: $main-light;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: $accent-light;
    border-style: solid;
    width: 97vw;
    margin: auto;
    border-radius: 3px;
}

.navbar-text-color {
    color: $font-color-body;
    background: 1px solid red;
}

.navbar-text-color:hover {
    color: $accent-light-2;
    text-decoration: none;
}
