.markdown-body p {
  color: $font-color-body;
  font-family: $font-body;
}

.post-button {
  color: $font-color-body;
}

.markdown-body p {
  color: $font-color-body;
  font-weight: 400;
}

.markdown-body blockquote {
  font-style: italic;
}