@import "_variables.scss";

$theme-dark: (
    c-accent-1: $space-cadet,
    c-accent-2: $silver,
    c-accent-3: $space-cadet,
    c-main-1: $space-cadet,
    c-main-2: $white,

    c-main-1-font: $white,
    c-main-2-font: $space-cadet,
);

$theme-light: (
    c-accent-1: $space-cadet,
    c-accent-2: $silver,
    c-accent-3: $space-cadet,
    c-main-1: $white,
    c-main-2: $space-cadet,

    c-main-1-font: $space-cadet,
    c-main-2-font: $white,
);

@mixin applyTheme($theme) {
    @each $name, $color in $theme {
        --#{$name}: #{$color};
    }
}

:root {
    @include applyTheme($theme-light);
}

[data-theme="dark"] {
    @include applyTheme($theme-dark);
}