{{ define "main" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
  </header>

  <section>
    <h2>Open Source Software</h2>
    <div class="project-grid">
      {{ range .Site.Data.projects.opensource }}
        <div class="project-tile">
          <h3>{{ .title }}</h3>
          <p>{{ .description }}</p>
          <p class="date">{{ .date }}</p>
          <a href="{{ .link }}" class="link">View Project</a>
        </div>
      {{ end }}
    </div>

    <h2>Talks</h2>
    <ul class="talks-list">
      {{ range .Site.Data.projects.talks }}
      <a href="{{ .link }}" class="link">
        <li class="talk-item">
          <h3>{{ .title }}</h3>
          <span class="date">{{ .date }}</span>
        </li>
      </a>
      {{ end }}
    </ul>
  </section>
</article>
{{ end }}