{{ define "main" }}
<article class="about-page">
  <div class="profile-section">
    <div class="profile-image-container">
      <img src="/mickey.png" alt="Mickey Beurskens" class="rounded-image">
    </div>
    <div class="profile-info">
      <h1>Mickey</h1>
      <h1>Beurskens</h1>
      <p class="specializations">
        <span class="specialization">AI Engineer</span>
        <span class="specialization">Writer</span>
      </p>
      <div class="social-icons">
        <a href="https://github.com/mickeybeurskens" target="_blank" rel="noopener noreferrer">
          <span class="icon" style="--url: url(./github.svg)"></span>
        </a>
        <a href="https://x.com/mickeybeurskens" target="_blank" rel="noopener noreferrer">
          <span class="icon" style="--url: url(./twitter.svg)"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="about-content">
    {{ .Content }}
  </div>
</article>
{{ end }}