{{ define "main" }}
<article class="about-page">
    {{ partial "profile.html" (dict 
        "name" "Mickey Beurskens"
        "image" "/mickey.png"
        "specializations" (slice "AI Engineer" "Tinkerer" "Shouting At Clouds")
        "socials" (slice 
            (dict 
                "url" "https://github.com/mickeybeurskens" 
                "icon" "./github.svg"
            )
            (dict 
                "url" "https://x.com/mickeybeurskens" 
                "icon" "./twitter.svg"
            )
        )
    )}}
    <div class="about-content">
        {{ .Content }}
    </div>
</article>
{{ end }}